{% extends "AppLuckApp/index.html" %}
{% load static %}

{% block contenidoQueCambia %}

    <form action="" method="POST" style="color:white;" enctype="multipart/form-data">
        {% csrf_token %}

        <h1>Editar Perfil</h1>
        <h3>Usuario: {{usuario}}</h3>
        <p style="color: red;">{{ mensaje }}</p>
        <table>
            {{ addAvatarForm.as_table }}
        </table>

        <input class=" col-auto btn btn-primary btn-sg" type="submit", value="Confirmar cambios">

    </form>
    
{% endblock %}
