{% extends "AppLuckApp\padre.html" %}

{% load static %}

{% block contenidoQueCambia %}


    <!--Aquí va lo que cambia y lo asociado a esta vista-->
    <h1>{{ mensaje }}</h1>
    
    <button><a href="{% url 'logout' %}">Salir</a></button>
     
     <h3>Podes buscar una camada:</h3>

     <form action="/AppLuckApp/buscar/" method="GET">
     
        <input type="number" name="camada" id="camada">

	<input type="submit" value="Buscar">

     </form>

     {% if curso %}

     <p>Estamos buscando el: {{camada}}</p>

     <ul>
     {% for curso in curso %}
	 <li> {{curso.nombre}} </li>
	 <li> {{curso.camada}} </li>
     {% endfor %}

     </ul>

     {% endif %}

{% endblock %}