{% extends "AppLuckApp/index.html" %}
{% load static %}

{% block contenidoQueCambia %}
    
    <div class="row">
        <div class="col-xl-3">
            <h4 style="font-family: Impact; color: white">BUSCA UN TÍTULO</h4>

            <form action="resultadoBusqueda" method="POST">{% csrf_token %}

                <input type="text" name="query" required>

                <input class=" col-auto btn btn-primary btn-sg" type="submit" value="Buscar">

            </form>
        </div>
    </div>

    <br><br>
    {% if request.user.is_authenticated %}
        <a href={% url 'postFormulario' %}><button class=" col-auto btn btn-primary btn-lg">Agregar nuevo post</button></a>
    {% else %}
        <a href={% url 'Login' %} class=" col-auto btn btn-primary btn-lg" style="color: white;">Inicia sesión para crear blogs</a>
    {% endif %}
    <br><br>


    {% for p in post %}

        <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-2">
                {% if p.imagen %}
                    <img src="{{p.imagen.url}}" class="img-fluid rounded-start" alt="...">
                {% endif %}
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{p.titulo}}</h5>
                  <p>{{p.subtitulo}}</p>
                  <p class="card-text"><small class="text-muted">Por: {{p.autor}}      {{p.fecha}}</small></p>
                  <p class="card-text">{{p.contenido}}</p>
                </div>
              </div>
            </div>

            {% if request.user.is_authenticated %}
            <a class=" col-auto btn btn-primary" href="{% url 'EliminarPost' p.titulo %}"> Eliminar</a>
            <a class=" col-auto btn btn-primary" href="{% url 'EditarPost' p.titulo %}"> Editar</a>
            {% else %}
                <a href={% url 'Login' %} class=" col-auto btn btn-primary" style="color: white;">Inicia sesión para editar / borrar blogs</a>
            {% endif %}
        </div>



        
    {% endfor %}

    
{% endblock %}
