{% extends "AppLuckApp/index.html" %}
{% load static %}

{% block contenidoQueCambia %}
    
    <div class="row">
        <div class="col-xl-3">
            <h4 style="font-family: Impact; color: white">BUSCA UN TÍTULO</h4>

            <form action="resultadoBusqueda" method="POST">{% csrf_token %}

                <input type="text" name="query" required>

                <input class=" col-auto btn btn-primary btn-sg" type="submit" value="Buscar">

            </form>
        </div>
    </div>

    <br><br>
    {% if request.user.is_authenticated %}
        <a href={% url 'postFormulario' %}><button class=" col-auto btn btn-primary btn-lg">Agregar nuevo post</button></a>
    {% else %}
        <a href={% url 'Login' %} class=" col-auto btn btn-primary btn-lg" style="color: white;">Inicia sesión para crear blogs</a>
    {% endif %}
    <br><br>


    {% for p in post %}

        <div style="color: white; list-style:none;">

            <p>Publicación {{p.id}}</p>
            <p style="font-family: Impact; font-size: 2.5em;">{{p.titulo}}</p>
            <h3>{{p.subtitulo}}</h3>
            <p>Por: {{p.autor}}</p>
            <p>Fecha de publicación: {{p.fecha}}</p>
            <p>Contenido:</p>
            <p>{{p.contenido}}</p>

            {% if request.user.is_authenticated %}
                <a class=" col-auto btn btn-primary" href="{% url 'EliminarPost' p.titulo %}"> Eliminar</a>
                <a class=" col-auto btn btn-primary" href="{% url 'EditarPost' p.titulo %}"> Editar</a>
            {% else %}
                <a href={% url 'Login' %} class=" col-auto btn btn-primary" style="color: white;">Inicia sesión para editar / borrar blogs</a>
            {% endif %}

        </div>



        <br><br><br><br>
    {% endfor %}

    
{% endblock %}
