{% extends "AppLuckApp/index.html" %}
{% load static %}

{% block contenidoQueCambia %}

    <form action="" method="POST" style="color:white;">

        {%csrf_token%}

        <p style="font-family: Impact; font-size: 2.5em;">LOGIN LUCKAPP</p>

        <div>
            <p style="color: red;">{{mensaje}}</p>
        </div>

        {{loginForm.as_p}}

        <button class=" col-auto btn btn-primary btn-sg" type="submit"> Iniciar sesión</button>
    </form> 

    <a class=" btn btn-primary" href = "{% url 'Register' %}">Volver al inicio</a>
    <a class = "btn btn-primary" href={% url 'Inicio' %}>Volver al inicio</a>

{% endblock %}
