{% extends "AppLuckApp/index.html" %}
{% load static %}

{% block contenidoQueCambia %}

    <form action="" method="POST" style="color:white;">

        {%csrf_token%}

        <p style="font-family: Impact; font-size: 2.5em;">LOGIN LUCKAPP</p>

        <div>
            <p style="color: red;">{{mensaje}}</p>
        </div>

        {{loginForm.as_p}}

        <div style="text-decoration: none;">
            <button type="submit"> Iniciar sesión</button>
            <button><a href="{% url 'Register' %}" style="text-decoration: none;">Registrarme</a></button>
            <button><a href = "{% url 'Inicio' %}" style="text-decoration: none;">Volver al inicio</a></button>
        </div>
    </form> 

{% endblock %}
