{% extends "AppLuckApp/index.html" %}
{% load static %}

{% block contenidoQueCambia %}

    <form action="" method="POST" style="color:white;">

        {%csrf_token%}

        <p style="font-family: Impact; font-size: 2.5em;">LOGIN LUCKAPP</p>

        <div>
            <p style="color: red;">{{mensaje}}</p>
        </div>

        {{loginForm.as_p}}

        <button class=" col-auto btn btn-primary btn-sg" type="submit"> Iniciar sesión</button>
        <button class="col-auto btn btn-primary btn-sg" ><a href="{% url 'Register' %}" style="color:white; text-decoration: none;">Registrarme</a></button>
        <button class=" col-auto btn btn-primary btn-sg"><a href = "{% url 'Inicio' %}" style="color:white; text-decoration: none;">Volver al inicio</a></button>
    </form> 

{% endblock %}
