{% extends "AppLuckApp\index.html" %}

{% load static %}

{% block contenidoQueCambia %}


    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
  
    {% if miFormularioBlog.errors %}
    <p style="color: red;">Los datos ingresados no son correctos</p>
    {% endif %}

    <p style="color: white; font-family: Impact; font-size: 2.5em;">ESCRIBE TU PUBLICACIÓN !</p>
    <p style="color: white;">El título no puede coincidir con otro</p>

    <p style="color: red;">{{ mensaje }}</p>

    <form action="" method="POST" style="color:white;" enctype="multipart/form-data">
        {% csrf_token %}

        <table class="form-style">
            {{miFormularioBlog.as_p}}
        </table>
        <input class=" col-auto btn btn-primary btn-sg" type="submit", value="Enviar">
    </form>    
    <button class=" col-auto btn btn-primary btn-sg"><a href = "{% url 'LeerPost' %}" style="color:white; text-decoration: none;">Volver a blogs</a></button>

{% endblock %}
    

    


