{% extends "AppLuckApp\index.html" %}

{% load static %}

{% block contenidoQueCambia %}


    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
  
    {% if miFormularioBlog.errors %}
    <p style="color: red;">Los datos ingresados no son correctos</p>

    {% endif %}

    <form action="" method="POST">{% csrf_token %}
        <table class="form-style">
            {{miFormularioBlog.as_p}}
        </table>
        <input type="submit", value="Enviar">
    </form>    

{% endblock %}
    

    


