{% extends "AppLuckApp/index.html" %}
{% load static %}

{% block contenidoQueCambia %}

    <p style="color: red;">Estamos buscando a: {{query}}</p>
    <button class=" col-auto btn btn-primary btn-sg"><a href = "{% url 'LeerPost' %}" style="color:white; text-decoration: none;">Volver a blogs</a></button>
    <br><br>
    {% if leerPost %}

    {% for post in leerPost %}
       
        <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-2">
                <img src="{{post.imagen.url}}" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{post.titulo}}</h5>
                  <p>{{post.subtitulo}}</p>
                  <p class="card-text"><small class="text-muted">Por: {{post.autor}}  Fecha: {{post.fecha}}</small></p>
                  <p class="card-text">{{post.contenido}}</p>
                </div>
              </div>
            </div>

            {% if request.user.is_authenticated %}
            <a class=" col-auto btn btn-primary" href="{% url 'EliminarPost' post.titulo %}"> Eliminar</a>
            <a class=" col-auto btn btn-primary" href="{% url 'EditarPost' post.titulo %}"> Editar</a>
            {% else %}
                <a href={% url 'Login' %} class=" col-auto btn btn-primary" style="color: white;">Inicia sesión para editar o borrar blogs</a>
            {% endif %}
        </div>

        <br><br><br><br>
    {% endfor %}   
        

    {% else %}

        <p style="color: red;">No se encontraron resultados :(</p>
     
    {% endif %}


{% endblock %}